<!DOCTYPE html>
<html>
  <%- include('../head') -%>
  <body ng-app="">
    <div class="container-fluid">
      <a href="/" class="float-left">
        <h2>
  	    	<img src="/images/logo/logo.png" class="logo">
  	    	openfuel
  	    </h2>
  </a>
    </div>
    <br>
    <div class="container">
    <input type="text" id="search-box" class="form-control" onkeyup="updateList(this.value, 'search');" placeholder="Search here..." />
    <select class="form-control" id="lang-select" onchange="updateList(this.value, 'lang');"><br>
      <option value="all">All languages</option>
      <option value="JavaScript">Javascript</option>
      <option value="CSS">CSS</option>
      <option value="HTML">HTML</option>
      <option value="Python">Python</option>
      <option value="Scala">Scala</option>
      <option value="Ruby">Ruby</option>
   </select>
    <br>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">Total Users</li>
           <li class="list-group-item">
            Total <b><%= list.length %></b> user(s) have signed up.
         </li>

   </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">Results</li>
      <div id="user-list">
      <% for(var i=0;i<list.length;i++) { %>
         <li class="list-group-item">
            <img src="<%= list[i].profile_picture %>" class="logo">
            <b><a href="/u/@<%= list[i].username %>" id="list-username"><%= list[i].username %></a></b>
         </li>
      <% } %>
    </div>
   </ul>

    <div id="notify_message" class=" notify_message-success">
    	<center>Search for people on Openfuel...</center>
    </div>
    <%- include('../tabs') -%>
    <%- include('../footer') -%>
  </body>
   <script type="text/javascript" src="/javascripts/dom.js"></script>
   <script type="text/javascript" src="/javascripts/search.js"></script>

</html>
