<!DOCTYPE html>
<html>
  <%- include('../head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
  <body>
    <div
      class="container-fluid navbar-fixed-top box-shadow switch-gradient"
      style="background-color:#155263; margin-bottom:2rem; border:none;"
    >
      <div class="float-left black" href="/">
        <a href="/">
          <h2 class="white">
            <img src="/images/logo/logo.png" class="logo" />
            <span class="white one-day">openfuel</span>

          </h2>
        </a>
      </div>

    </div>
    <br><br><br>
    <div style="background: #155263;"><br>
      <div class="container" style="background: #fff; border-radius:20px;">
          <div style="text-align:center;background: #F9C038;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;"><br>
            <img src="<%= user.profile_picture %>" width="100px" style="border-radius: 50%; background-color: #fff;"><br><br>
            <div class="container" style="text-align:center;color:#fff;">
              <h3 class="one-day" style="margin: 0" href="#">@<%= user.username %></h3> <span><%= user.name %></span><br>

            </div><br>
          </div><br>
          <a class="btn btn-action btn-sm btn-primary float-right one-day" style="margin-left: 0; margin-right:20px;" href="/chat/<%= user.id %>">Message</a>


          <br>
          <h3 class="one-day">About</h3><br><span class="bio"><%- user.bio %></span><br><br>
          <blockquote>
            Github: <a href="<%- user.profile_url %>"><%- user.profile_url %></a><br>
            Followers: <%- user.followers %><br>
            Following: <%- user.following %>
            <br>
            <% if(user.website) { %>
              Website: <a style="margin: 0" href="<%- user.website %>"><%- user.website %></a>
            <% } %>
          </blockquote>
          <h3 class="one-day">Posts</h3><br>
          <% if(user.posts) { for(var x=0;x<user.posts.length;x++) {
            if(user.posts[x].static_url) { %>
              <blockquote>
                <img src="<%= user.posts[x].static_url %>" class="feed-view-img">
              </blockquote>
          <%} else { %>
            <blockquote>
                <a href="/post/<%= user.posts[x]._id %>"><%= user.posts[x].caption.length > 10 ? user.posts[x].caption.slice(0, 10) + "..." : user.posts[x].caption %></a> posted on <%= new Date(user.posts[x].createdAt.toString()).toISOString().split("T")[0] %>
            </blockquote>
          <% } }} %>
        <br><br>
        <br><br><br>
      </div>
<br><br>
    </div>
    <div class="container">

    </div>
    <div id="notify_message" class="notify_message-success">
    	<center>Follow @<%= user.username %>!</center>
    </div>
    <%- include('../footer') -%>
  </body>
  <script type="text/javascript">
    const _id = "<%= user._id %>";
  </script>
  <script type="text/javascript" src="/javascripts/follow.js"></script>
</html>
